/* Hero.css */
.hero-container {
    padding: 0;
    margin: 0;
    height: 100vh; /* Ocupa toda la altura del viewport */
    width: 100vw; /* Ocupa todo el ancho del viewport */
    position: relative; /* Importante para usar ::before */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../../img/background-topdown.png');
    background-size: cover;
    background-position: center;
    filter: brightness(50%); /* Oscurece solo la imagen */
    z-index: 1; /* Capa detrás del contenido pero encima del fondo */
}

.hero {
    position: relative; /* Mantiene el contenido encima del pseudo-elemento ::before */
    z-index: 2; /* Asegura que el texto esté sobre la capa oscura */
    text-align: center;
    color: white;
}

.hero h1, .hero p {
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.hero p {
    font-size: 1.5rem; /* Ajusta el tamaño del párrafo */
}





.gk-gap1 {
    height: 20px;
}