footer{
    background-color: #01020d;
    height: 70vh;
    width: 100vw;
}



.navbar{
    position: absolute;
    top:60%;
    color: white;
}

.container-fluid{
    display: flex;
    justify-content: space-around;
}

